@using EntityLayer.Abstract
@model List<Skil>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Skill</h1>

<table class="table table-bordered">
    <tr>

        <th>Başlık</th>
        <th>Oran</th>
        <th>Sil</th>
        <th>Güncelle</th>
        
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.SkilsTitle</td>
    <td>@item.SkilsRatio</td>
    <td>
        @Html.ActionLink("SİL", "Delete", "Skill", new { area = "Member", id = item.SkilsID })
    </td>
    <td>
        @Html.ActionLink("Güncelle", "SkillGüncelle", "Skill", new { area = "Member", id = item.SkilsID })
    </td>
</tr>
    }@*571632Reis.*@
</table>